extends layout

block content
<<<<<<< HEAD
  div(id="label") Type last name:
  div(class="search")
    input(type="text" id="searchbox" name="name" placeholder="Enter Last Name...")
=======
  div(id="label") Search by last name:
  div(class="search")
    input(type="text" id="searchbox" name="name" placeholder="Enter Last Name..." autofocus)
  br
  br
  div(id="white") For any issues call: (780) 988-0565
>>>>>>> Finished Site
