doctype html
html
  head
<<<<<<< HEAD
    title= title
=======
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/hamburgers.css')
>>>>>>> Finished Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript")
    script(src='/javascripts/script.js' type='text/javascript')
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet")
  body
    header(class="site-header")
<<<<<<< HEAD
=======
      div(id='overlay-wrapper')
        div(id='ham-container')
          button(class='hamburger hamburger--squeeze' type='button')
            span(class='hamburger-box')
              span(class='hamburger-inner')
        a(class="mobile-link" href="https://husakandbhatrimony.com") Home
        a(class="mobile-link active" href="https://rsvp.husakandbhatrimony.com") RSVP
        a(class="mobile-link" href="https://husakandbhatrimony.com/wedding-party") Wedding Party
        a(class="mobile-link" href="https://husakandbhatrimony.com/guest-info-1") Guest Info
        a(class="mobile-link" href="https://husakandbhatrimony.com/blank-page") FAQ
        a(class="mobile-link" href="https://husakandbhatrimony.com/contact") Contact

>>>>>>> Finished Site
      a(href="https://husakandbhatrimony.com" id="title") HUSAK & BHATRIMONY
      br
      br
      br
<<<<<<< HEAD
      a(class="nav" href="htpps://husakandbhatrimony.com") Home
      a(class="nav" href="") RSVP
      a(class="nav" href="https://www.husakandbhatrimony.com/wedding-party") Wedding Party
      a(class="nav" href="https://www.husakandbhatrimony.com/guest-info-1") Guest Info
      a(class="nav" href="https://www.husakandbhatrimony.com/blank-page") FAQ
      a(class="nav" href="https://www.husakandbhatrimony.com/contact") Contact
=======
      a(class="nav" href="https://husakandbhatrimony.com") Home
      a(class="nav" href="https://rsvp.husakandbhatrimony.com") RSVP
      a(class="nav" href="https://husakandbhatrimony.com/wedding-party") Wedding Party
      a(class="nav" href="https://husakandbhatrimony.com/guest-info-1") Guest Info
      a(class="nav" href="https://husakandbhatrimony.com/blank-page") FAQ
      a(class="nav" href="https://husakandbhatrimony.com/contact") Contact
>>>>>>> Finished Site
    br
    br
    block content
