body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #181818;
}

head {
  height: 0;
}

.site-header {
  background-color: #003862;
  color: white;
  height: auto;
  width: 94%;
  left: 0;
  margin: 0;
  padding: 3%;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
}

#ham-container {
  display: none;
}

.mobile-link {
  display: none;
}

#title {
  text-decoration: none;
  color: white;
  font: normal normal normal 22px/1.41em 'playfair display',serif;
}

.nav {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0 10px;
  line-height: 30px;
  font: normal normal normal 14px/1.79em 'raleway',sans-serif;
}

#label {
  width: 97%;
  padding-left: 3%;
  color: #FFFFFF;
  font: normal normal normal 14px/1.79em 'raleway',sans-serif;
  font-size: 2em;
}

.search {
  display: flex;
  flex-direction: column;
  width: 94%;
  padding: 3%;
  font: normal normal normal 14px/1.79em 'raleway',sans-serif;
}

.search > input {
  font: normal normal normal 14px/1.79em 'raleway',sans-serif;
}

.group {
  background-color: rgba(255, 255, 255, 0.925);
  border: 1px solid rgba(53, 53, 53, 0.521);
  padding: 2%;
  font: normal normal normal 14px/1.79em 'raleway',sans-serif;
  cursor: pointer;
}

.group:hover {
  background-color: rgb(190, 190, 190)
}

.group:active {
  background-color: rgb(190, 190, 190)
}

.name {
  font-size: 1.25em;
  color: rgb(51, 51, 51);
}

.main {
  color: rgb(61, 61, 61);
}

.members {
  color: rgb(143, 143, 143);
}

table {
  text-align: center;
  background-color: white;
  table-layout: fixed;
  width: 90%;
  margin: 3% 3% 3% 3%;
  border-collapse: collapse;
  border: 2px solid #003862;
}

thead th:nth-child(1) {
  width: 40%;
}

th, td {
  padding: 5px;
  font: normal normal normal 14px/1.79em 'raleway',sans-serif;
}

th {
  font-weight: bold;
  background-color: #ffc1c6;
  color: black;
}

tbody tr:nth-child(odd) {
  background-color: rgb(233, 233, 233);
}

#familyName, #song {
  color: white;
  font: normal normal normal 14px/1.79em 'raleway',sans-serif;
  font-size: 2em;
  width: 90%;
  margin-left: 3%;
  margin-right: 3px;
  border-bottom: 1px solid #ccc;
}

#song-container {
  margin-top: 1%;
  margin-left: 3%;
  width: 90%;
  background-color: white;
}

.song {
  font-size: 1.25em;
  padding-top: 10px;
  padding-left: 2%;
  border: 1px 0 1px 0 solid #ccc;
  height: 30px;
  cursor: pointer;
}

.song:hover {
  background-color: red;
  color: white;
}

#add {
  text-align: right;
  margin-bottom: 1%;
  padding-right: 2%;
}

#add:hover {
  background-color: #ccc;
}

#song-container input {
  width: calc(100% - 2em);
  border: none;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.5em;
}

#submit-container {
  text-align: right;
  width: 93%;
}

#submit {
  background-color: #003862;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 1% 1%;
}

#white {
  font-size: 1.5em;
  color: white;
  text-align: center;
}

/* Weird checkboxes thing */

.rsvp {
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.rsvp input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -12px;
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #000;
}

.rsvp:hover input ~ .checkmark {
  background-color: #ccc;
}

.rsvp input:checked ~ .checkmark {
  background-color: #003862;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rsvp input:checked ~ .checkmark:after {
  display: block;
}

.rsvp .checkmark:after {
  left: 33%;
  top: 20%;
  width: 20%;
  height: 40%;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5vh;
    width: 100vw;
    background-color: #181818;
    height: 100vh;
  }

  .overlay #ham-container {
    margin-bottom: 5vh;
  }

  .overlay .mobile-link {
    display: block;
  }
  
  #ham-container {
    display: block;
    width: 100%;
    text-align: right;
  }

  .mobile-link {
    text-decoration: none;
    margin: auto;
    margin-bottom: 0.5em;
    text-align: center;
    color: white;
    font: normal normal normal 14px/1.79em 'raleway',sans-serif;
    font-size: 1.5em;
  }

  .active {
    color: #ffc1c6;
  }

  .site-header {
    text-align: left;
  }

  #title {
    font-size: 2em;
    padding-left: 0.75em;
  }

  .nav {
    display: none;
  }
  
  #searchbox {
    font-size: 2.5em;
  }
  
  #label {
    font-size: 3em;
  }

}